*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100%;
  background-color: rgb(221, 221, 221);
  scroll-behavior: smooth;
  
}
#main{
  height: 100%;
  width: 100%;
  display: grid;
}
#nav{
  border-bottom: 1px solid rgb(80, 80, 80);
  height: 20vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 0 10vh;
}
#nav-left img{
  height: 100%;
  width: 100%;
}
#nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
#nav-right i{
  display: none;
}
#nav-right a{
  text-decoration: none;
  color: black;
  opacity: 50%;
  transition: 0s;
  transition-duration: 300ms;
}
#nav-right a:hover{
  transition-duration: 100ms;
  opacity: 90%;
  
  
}
.center{
  width: 100%;
  height: 70vh;
  /* background-color: brown; */
  padding: 0 10%;
  position: relative;
  margin: 5% 0;
}
.content{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}
.content video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 70%;
}
#overlay{
  /* background-color: red; */
  width: 80%;
  height: 40%;
  position: absolute;
  bottom: 0;
  display: flex;
  color: rgb(224, 224, 224);
  border-top: rgb(202, 202, 202) solid 1px; 
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(1px);
}

#over1{
  /* background-color: aqua; */
  padding: 5vh;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 300ms;
}

#over1 h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#over1 h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#over2 h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#over2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  transition-duration: 300ms;
}
#over2:hover{
  transition-duration: 300ms;
  width: 40%;
  
}
#page1{
  border-top: 1px solid rgb(80, 80, 80);
  /* border-bottom: 1px solid rgb(80, 80, 80); */
  width: 100%;
  height: 60vh;
  /* background-color: blueviolet; */
  position: relative;
}
#page-top{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgb(90, 90, 90);
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-bottom{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0 5vh;
  text-align: center;
  
}
.div1{
  background:linear-gradient(rgb(34, 34, 34), rgb(158, 158, 158) ); 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  padding: 5vh;
  width: 30%;
  border: 1px solid white;
  color: rgb(211, 211, 211);
  transition-duration: 300ms;

}
.div1:hover{
  transition-duration: 300ms;
  box-shadow: 7px 7px 10px rgb(73, 73, 73) ;

}

.div1 h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  
}
.div1 h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 15px;
  
}
.div1 .circle{
  width: 45px;
  height: 45px;
position: absolute;
background-color: rgb(255, 255, 255);
  border-radius: 50%;
  align-self: center;
  margin-top: -19%;
}
#page2{
  border-top: 1px solid rgb(80, 80, 80);
  margin-top: 10%;
  width: 100%;
  height: 90vh;
  /* background-color: red; */
}
#pg2-top{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  height: 30%;
  display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
}
#pg2-bottom{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 5vh;
  align-items: center;
  
}
.service{
  /* background-color: blue; */
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  justify-content: space-evenly;
  color: rgb(53, 53, 53);
  position: relative;
  /* border: 2px solid black; */
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  height: 100%;
  align-items: center;
  width: 100%;
}
.imgs{
  width: 100% ;
  height: 60%;
  background-color: black;
  border-radius: 10px;
  transition-duration: 300ms;

}
.imgs img{
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}
.imgs:hover  {
  box-shadow: 10px 10px 10px gray;
  transition-duration: 300ms;
}
.imgs h3{
  position: absolute;
  background-color: red;
  top: 30%;
  text-align: center;
  width: 70%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}


@media (max-width:600px){
  #main{
    height: 100%;
    width: 100vw;
    /* background-color: red; */
  }
  #nav{
    height: 15vh;
    width: 100vw;
    align-items: center;
    padding: 1vh 5vh;
  }
  #nav-left img{
    height: 30%;
    width: 70%;
  }
  #nav-right a{
    display: none;
  }
  #nav-right i{
    display: initial;
    color: #706666;
    font-size: 24px;
  }
  #nav-right i{
    color: black;
    opacity: 40%;
  }
  #nav-right i:hover{
    transition-duration: 100ms;
    opacity: 90%;
    
    
  }
  .center{
    width: 100vw;
    height: 40vh;  
    padding: 0 5%;
    margin: 2% 0;
  }
  .content{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
  }
  .content video{
    height: 100%;
    width: 100%;
  }
  #overlay{
    /* background-color: red; */
    width: 90.5vw;
    height: 40vh;
    top: 0;
    border:1px white solid;
    padding: 0 1%;
  }
  
  #over1{
    /* background-color: aqua; */
    padding: 2vh;
    width: 60%;
    height: 100%;
    transition-duration: 300ms;
    font-size: small;
  }
  #over1:hover{
    transition-duration: 300ms;
    padding: 2vh;
    width: 60%;
    height: 100%;
    transition-duration: 300ms;
    font-size: small;  
  }
  #over1 h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  #over1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  #over2 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  #over2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    transition-duration: 300ms;
  }
  button h1{
    color: rgb(219, 219, 219);
    
  }
  #over2:hover{
    transition-duration: 300ms;
    width: 40%;
    
  }


  #page1{
    border-top: 1px solid rgb(61, 61, 61);
    width: 100vw;
    height: 60vh;
    position: relative;
  }
  #page-top{
    font-size: 15px;
    height: 20%;
  }
  #page-bottom{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 ;
    overflow-x: auto;
  }
  .div1{
    flex-shrink: 0;
    height: 80%;
    margin: 0 4vh;
    padding: 0;
    width: 85%;
    transition-duration: 300ms;
  
  }
 
  
  .div1 .circle{
    display: none;
  }
  #page2{
    border-top: 1px solid rgb(80, 80, 80);
    margin-top: -10%;
    width: 100vw;
    height: 60vh;
    position: relative;
    /* background-color: red; */
  }
  #pg2-top{
    font-size: 15px;
    height: 20%;
  }
  #pg2-bottom{
    width: 100%;
  /* display: flex; */
  align-items: center;
    align-items: center;

    display: inline-block;
    flex-wrap: nowrap;
    padding: 0 ;
    justify-content: center;
    overflow-x: auto;
    background-color: rgb(201, 201, 201);
    
  }
  .service{
    flex-shrink: 0;
    height: 90%;
    margin: 2vw 7.5vh;
    /* background-color: red; */
    /* padding: 0; */
    width: 70%;
    transition-duration: 300ms;
  }
 
  .imgs{
    width: 100% ;
  height: 60%;
  background-color: black;
  border-radius: 10px;
  transition-duration: 300ms;
  
  }
  .imgs img{
    object-fit: cover;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  }
  .imgs:hover  {
    box-shadow: 10px 10px 10px gray;
    transition-duration: 300ms;
  }

  .imgs h3{
    position: absolute;
    background-color: red;
    top: 30%;
    text-align: center;
    width: 70%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }
  
  #footer{
    height: 100vh;
    width: 100%;
  }
}
#button{
      background-color: transparent ;
      height: fit-content;
      width: fit-content;
      border: 2px;
      color: #dbdbdb;
      border: 2px solid rgb(228, 228, 228);
      padding: 4vh;
      border-radius: 50px;
    
}
#about-us{
  border-top: 1px solid rgb(80, 80, 80);
  flex-direction: column;
}
#heading{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
#content{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vh;
  background: url(./Screenshot53.jpeg);
  background-size: cover;
  /* opacity: 50%; */
  background-position: center;
  background-repeat: no-repeat;
}
#left{
  height: 196px;
  width: 196px;
    background-color: rgb(255, 254, 254);
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
  
 
}
#left img{
  height: 196px;
  width: 196px;
    border-radius: 50%;
  
 
}
#right{
  
  margin: 0 5%;
  height: 90%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  color: rgb(224, 224, 224);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5vh;
}
#right h1{
font-weight: 700;
}
#right h2{
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1px;
line-height: 20px;
font-weight: 500;
}
#icons{
  display: flex;
  width: 50%;
  font-size: 25px;
  height: 20%;
  justify-content: space-around;
  align-items: center;
  /* background-color: blue; */
}
#ico{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border-radius: 50%;
  border: 1px black solid;
  height: 50px;
  width: 50px;
}
.links{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: aliceblue; */
}
.links h3{

  /* background-color: red; */
  padding: 1px 5vh;
  font-weight: lighter;
  cursor: pointer;
  
}



#add{
  width: 100%;
  height: 25%;
  display: flex;
  border-top: black solid 1px;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: black solid 1px; */
  
  /* background-color: aliceblue; */
  
}
#address{
  /* background-color: blue; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#no{
  padding: 0 5vh;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


@media (max-width:700px){
 
  #about-us{

    width: 100%;
    height: 90vh;
  }
  #heading{
    font-size: 15px;
    height: 13%;
  }
  #content{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  #left{
    height: 100px;
    width: 100px;
  }
  #left img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
  #right{
    
    margin: 0 5%;
    height: 70%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    color: rgb(224, 224, 224);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 5vh;
  }
  #right h1{
    font-size: large;
    font-weight: 700;
    margin-bottom: 6px;
  }
  #right h2{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 15px;
    font-weight: 400;
  }
  #footer{
    font-size: small;
   
  }

  
  #add{

    font-size: smaller;
    padding: 0 2vh;
    justify-content: space-evenly;
    /* background-color: red; */
  }
  #address{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #no{
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0;
 
  }
  #copy{
    font-size: small;
  }
 
}

#copy{
  /* position: absolute; */
  width: 100%;
  height: 10%;
  background-color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  padding: 3vh;
  color: rgb(219, 219, 219);
  margin-bottom: -10px;
  justify-content: center;
}

  #footer{
    height: 50vh;
    width: 100%;
    /* background-color: rgb(170, 43, 43); */
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    color: #616161;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .links{

    width: 100%;
    height: 40%;
  }
  .links a{
    /* background-color: red; */
    cursor: pointer;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #616161;
    text-decoration: none;
    
  }
  #link1{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 40%;
    height: 60%;
  }
  #link2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;


  }

  #link1 a:hover i{
    margin-left: 10px;
    transition-duration: 300ms;
 
  }


  .links i{
    transition-duration: 300ms;
  }
  #link2 a:hover i{
    margin-left: 10px;
    transition-duration: 300ms;
  }
